*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Poppins';
}
.header{
    background-color: rgba(0, 0, 0, 0.845);
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo, .more{
    display: flex;
    padding: 10px;
}
.fa-solid, span{
    padding: 2px;
}
.more span{
    margin-right: 7px;
}
.more span:hover{
    text-decoration: underline;
    cursor: pointer;
}